<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a class="navbar-brand text-white" routerLink="/">
        <img
          src="https://www.shareicon.net/data/512x512/2016/10/07/839823_list_512x512.png"
          alt=""
          width="40"
          height="34"
          class="d-inline-block align-text-center"
        />
        todoApp
      </a>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            href="#"
            class="nav-link px-2 text-secondary"
            routerLink="/tasks"
            routerLinkActive="active"
            >Add task</a
          >
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-2 text-white"
            routerLink="/completed-tasks"
            routerLinkActive="active"
            >Completed tasks</a
          >
        </li>
      </ul>

      <div class="text-end">
        <button
          type="button"
          class="btn btn-outline-light me-2"
          routerLink="/login"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-warning"
          routerLink="/registration"
        >
          Sign-up
        </button>
      </div>
    </div>
  </div>
</header>
