<div class="box text-center bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>todo App - Get things done!</h2>
        <p class="lead">
          This is simple task management app to help you stay organized and
          manage your day-to-day.
        </p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-warning fw-bold" routerLink="/tasks"
            >Add new task</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
